﻿@model FootballLeague.Data.DBModels.Match

@{
//ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Match</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomeTeam" class="control-label"></label>
                <select asp-for="HomeTeamId" class="form-control" asp-items="ViewBag.Teams">
                    <option value="required"></option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="AwayTeam" class="control-label"></label>
                <select asp-for="AwayTeamId" class="form-control" asp-items="ViewBag.Teams">
                    <option value="required"></option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="HomeTeamGoals" class="control-label"></label>
                <input asp-for="HomeTeamGoals" class="form-control" />
                <span asp-validation-for="HomeTeamGoals" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AwayTeamGoals" class="control-label"></label>
                <input asp-for="AwayTeamGoals" class="form-control" />
                <span asp-validation-for="AwayTeamGoals" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
